

.title-left {
    margin-left: 2px;
    float: left;
    color: green;
}

.button-search {
    padding: 2px;
    width: 100px;
}

.img-logo {
    padding: 10px;
    height: 200px;
    width: 210px;
}

.only {
    margin-right: 10%;
}

.img-card{
    max-height: 220px;
    max-width: 220px;
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: -20px;
}

.crop{
    /*float:left;*/
    /*margin:.5em 10px .5em 0;*/
    overflow:hidden; /* IMPORTANTE */
    position:relative; /* IMPORTANTE */
    /*border:1px solid #ccc;*/
    /*width:200px;*/
    height:225px;

}
/* Ocultamos parte de la imagen */
.crop img{
    position:absolute;
    top:-20px;
    left:-55px;
}
.aux-class {
    height: 20px;
}
.own-container {
    margin: 0 auto;
    max-width: 2000px;
    width: 90%;
}

.teal{
    background-color: #ee6e73;
}

.card{
    margin: 8%;
}

h2{
    margin-left: 20px;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
.p-card {
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.waves-effect {

    transition: .1s ease-out;
}

.btn-favorite {

    background-color: #992c2a;
    /*margin-left: 10px;*/
}

.next {
    margin-right: 10%;
}
.next:hover {
    background-color: #2eb6aa;
}

.previous:hover {
    background-color: #2eb6aa;
}

.play:hover {
    background-color: #2eb6aa;
}

.btn {
    margin-bottom: 2px;
}

.card-image {
    /*max-height: 200px;*/
}


.btn-favorite:hover {

    background-color: #d90726;
}
.btn-floating:focus {
    background-color: #666666;
}

.btn-favortite.added {
    background-color: #666666;
}




nav {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+97&0.38+0,0.88+70 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.38) 0%, rgba(0,0,0,0.88) 70%, rgba(0,0,0,0.88) 97%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.88) 70%,rgba(0,0,0,0.88) 97%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.38) 0%,rgba(0,0,0,0.88) 70%,rgba(0,0,0,0.88) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61000000', endColorstr='#e0000000',GradientType=0 ); /* IE6-9 */

}

section{
    margin: 15px;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgba(11, 5, 5, 0.87);
}

